{% extends 'todo_base.html' %}
{% block title %}
    To Do Home Page
{% endblock %}
{% block content %}
    <div class="section">
        <p></p>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn-large" href="./new">New Todo</a>
        </div>
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn-large" href="./list">To do list</a>
        </div>

    </div>



{% endblock %}